body{
    background: linear-gradient(
        to right, 
        #f1ccd7,   /* light pink */
        #f4a6b8,   /* medium pink */
        #f197b1    /* deep pink */
    );
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.container{
    background: rgb(253, 226, 230);
    border-radius: 16px;
    padding: 40px 30px;
    width: 380px;
    box-shadow: 0 12px 25px rgb(0,0,0,0.1);
    text-align: center;
}
h2{
    margin-bottom: 20px;
    color: rgb(189, 86, 103);
}
form{
    display: flex;
    flex-direction: column;  
    gap: 16px;
}
input[type="email"],
input[type="password"]{
    padding: 12px;
    border-radius: 10px;
    transform: border 0.3s;
}
button{
    display: flex;
    justify-content: center;
    gap: 30px;
    border: none;
    border-radius: 12px;
    color:white ;
    background-color:rgb(189, 86, 103);
    box-shadow: 0 12px 25px rgb(0,0,0,0.1);
    padding: 10px;

}
button:hover{
    color:black ;
    background-color: rgb(246, 201, 209);
}

